@import './variable';
@import './animate.scss';
body {
	margin: 0;
}
img {
	width: 100%;
	height: 100%;
}
iframe {
	border: 3px solid #cccccc;
	margin: 20px auto;
}
.home-page {
	// position: fixed;
	// left: 0;
	// top: 0;
	// right: 0;
	// bottom: 0;
	// margin: 50px 200px 0 200px;
	// height: 100vh;
	// width: calc(100vw-400px);
  display: flex;
  width: 100vw;
  height: calc(100vh - 50px);
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba($color: white, $alpha: 0.5);
}
.tools-wrapper {
  flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border: #eef0f6 solid 2px;
	width: 100%;
	height: 46px;
	margin-bottom: 10px;
}
.tools-list-tab,
.components-list-tab {
	flex: 1;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.8);
	text-align: center;
}
.tab-active {
	font-weight: bold;
}

.tools {
	display: flex;
	justify-content: flex-start;
  align-items: flex-start;
	// position: fixed;
	flex-direction: column;
	// left: 0;
	// top: 50px;
	// bottom: 0;
	// flex-wrap: wrap;
	width: 240px;
  height: 100%;
	background-color: white;
	z-index: 9;
  overflow-y: auto;
  // overflow-x: hidden;
}
.tools::-webkit-scrollbar {
  display: none;
}
.tools-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 240px;
}
.tools-list-item,
.tools-list-item img {
	height: 46px;
	width: 46px;
}
.tools-list-item {
  padding: 10px;
}
.components-list {
	display: flex;
  flex: 1;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 240px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
}
.components-list ::-webkit-scrollbar {
  display: none;
}
.components-list-item {
	height: 80px;
	width: 80px;
  padding: 10px;
}
.components-list-item :hover,
.tools-list-item:hover {
  background-color: #e3e3e3;
}
.components-list-item img  {
  height: 80px;
	width: 80px;
}
.views-wrapper {
	position: relative;
	display: flex;
  flex: 1;
	flex-direction: column;
	justify-content: center;
	// width: calc(100vw - 400px);
	// height: calc(100vh - 50px);
	background-color: #f5f7fa;
	overflow: auto;
}
.phone-type {
	position: fixed;
	left: 250px;
	top: 60px;
	width: 300px;
	height: 25px;
}
.phone-type img {
	height: 20px;
	width: 20px;
	margin-left: 8px;
	vertical-align: middle;
}
.phone-type img:hover {
	background-color: #cccccc;
}
.views {
	display: flex;
  flex: 1;
	flex-direction: column;
	align-items: center;
  justify-content: center;
	width: calc(100vw - 400px);
	height: calc(100vh - 250px);
	margin: 0 auto;
	margin-bottom: 100px;
	background-color: #f5f7fa;
  overflow: auto;
}
#fileContent {
  position: fixed;
  right: 380px;
  top: 60px;
  width: 190px;
}
.views-scale {
	position: fixed;
	bottom: 16px;
	right: 380px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 138px;
	height: 28px;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
.console {
	height: 200px;
	width: 100%;
	background-color: rgba($color: #000000, $alpha: 0.9);
}
.run-btn {
	height: 50px;
	width: 100px;
	line-height: 200%;
	background-color: $blue-deep;
	margin: 0 auto;
}
#visualViews {
	position: relative;
	z-index: 9;
	// pointer-events: none;
}

#fileContent {
}
.edit {
	// position: fixed;
	// right: 0;
	// top: 50px;
	// bottom: 0;
	width: 320px;
	padding: 16px 24px;
	font-size: 12px;
	color: rgba($color: #000000, $alpha: 0.6);
	background-color: white;
	border-top: 2px solid #eef0f6;
	z-index: 97;
}
.edit-item {
	margin-bottom: 16px;
	margin-right: 14px;
}
label {
	margin-right: 8px;
}
.edit-item-wrapper {
	display: flex;
  align-items: center;
	justify-content: flex-start;
}
.el-color-picker {
  margin-left: 8px;
}
.text-aligh-icon {
	height: 24px;
	width: 24px;
	margin: 5px;
}
.text-aligh-icon:hover {
	background-color: $gray;
}
.el-button {
	width: 140px;
	height: 32px;
	padding: 0;
	line-height: 32px;
}
.source-code {
	width: 80%;
	min-height: 100px;
	background-color: $gray;
}
.checkTitle {
  height: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(250, 143, 2);
}
.el-checkbox__label {
  font-size: 16px;
}
.el-checkbox__label span {
  color: rgba(200, 0,0 , $alpha: 1.0);
}
.dialog-mask {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 98;
}
.source-code {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}
//边距设置
.edit-item .input-margin, .edit-item .input-padding {
	overflow-x: hidden;
	vertical-align: middle;
}
// 图片设置
.picture-wrapper > div {
  display: flex;
}
.el-upload-dragger {
	width: 148px;
	height: 148px;
	border: none;
	background: none;
}
label span {
  text-decoration: underline;
}

.edit-item .el-icon-circle-plus-outline, .el-button {
	display: inline-block;
	width: 40px;
	margin-left: 10px;
	height: 40px;
}
.el-input-number {
	margin: 5px;
	width: 140px;
}
.el-input-number .el-input {
  height: 100%;
}
.edit-item .el-icon-circle-plus-outline, .el-button--success {
	width: 140px;
}
.edit-item-pic {
	position: relative;
}
.pic-setting {
	position: absolute;
  left: 10px;
	top: 90px;
	height: 20px;
	width: 20px;
	background: url(../assets/setting.png) no-repeat 0 0;
	background-size: contain;
}
.pic-input-select {
	width: 148px;
	height: 148px;
	border-radius: 6px;
	border-style: initial;
	border: 2px dashed #eef0f6;
	background: url(../assets/input-select.png) no-repeat center 0;
	background-size: 100% 100%;
}
.pic-input-select:hover {
	border: 2px dashed #80b2e0;
}
.input-border-width {
	width: 100px;
}
.border-setting .el-select,
.border-setting .el-input,
.border-setting .el-input .el-input__inner {
  width: 70px;
	vertical-align: middle;
	margin-right: 5px;
}
// 直尺
#ruler {
	display: none;
  position: fixed;
	top: 60px;
	left: 300px;
	height: 405px;
	width: 1240px;
	z-index: 999;
	transform: scale(.5);
	background: url(../assets/ruleIcon2.png) no-repeat 0 0;
	background-size: 100% 100%;
}
.position-edit-item .el-input {
	margin: 0 10px;
}
.position-edit-item .el-select {
 margin:  0 10px;
}
.position-edit-item .el-select,
.position-edit-item  .el-select .el-input,
.position-edit-item .el-select  .el-input .el-input__inner {
  width: 100px;
}
.position-edit-item .el-input,
.position-edit-item .el-input .el-input__inner {
	width: 50px;
}
.color-picker-tool {
	position: absolute;
	left: 0;
	top: 0;
	width: 46px;
	height: 46px;
	opacity: 0;
}
.color-picker-tool .el-color-picker__trigger {
	width: 46px;
	height: 46px;
}
.module-edit-item .el-input,
.module-edit-item .el-input .el-input__inner {
	display: inline-block;
	width: 110px;
	margin-right: 10px;
}